@media only screen and (max-width: 1500px) {
   .header-info {
      max-width: 540px;
      padding: 45px;
      bottom: -1%;
      transform: translate(0%, -6%);
   }

   .header-info__title {
      font-size: 50px;
      margin-bottom: 25px;
   }

   .header-info__link {
      max-width: 220px;
      padding: 15px 37px;
      font-size: 20px;
      line-height: 25px;
   }

   .header-top__list {
      margin-left: 450px;
   }
}

@media only screen and (max-width: 1300px) {
   .header-info {
      max-width: 505px;
      padding: 37px;
      bottom: -1%;
      transform: translate(0%, -7%);
   }

   .header-info__title {
      font-size: 45px;
      margin-bottom: 20px;
   }

   .header-info__link {
      max-width: 210px;
      padding: 10px 30px;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
   }

   .header-top__list {
      margin-left: 320px;
   }
}

@media only screen and (max-width: 1160px) {
   .header-info {
      max-width: 450px;
      padding: 30px;
      transform: translate(0%, -8%);
   }

   .header-info__title {
      font-size: 40px;
      margin-bottom: 14px;
      line-height: 50px;
   }

   .header-top__list {
      margin-left: 205px;
   }
}

@media only screen and (max-width: 1024px) {
   .header-top {
      left: 5%;
   }

   .header-slider__item img {
      overflow: hidden;
      object-fit: cover;
      max-width: 1024px;
      height: 1000px;
   }

   .header-info {
      max-width: 624px;
      padding: 70px;
   }

   .header-info__title {
      font-size: 62px;
      line-height: 63px;
   }
   .header-info__link{
      max-width: 272px;
      padding: 19px 50px;
      font-size: 24px;
      line-height: 40px;
   }
}