@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
   font-family: 'Archangelsk';
   src: url('../fonts/Archangelsk.woff2') format('woff2'),
      url('../fonts/Archangelsk.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

:root {
   --accent-color: #F8F200;
   --text-color: #52BEDC;
   --background-color: #000;
   --gray-color: #777;
   --archangelsk-font: 'Archangelsk';
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   display: block;
   color: inherit;
   text-decoration: none;
   transition: .4s;
}

ul,
li {
   list-style: none;
}

input {
   border: none;
}

button {
   display: block;
   border: none;
   color: inherit;
   cursor: pointer;
   background-color: transparent;
   transition: .4s;
   font: inherit;
}

img {
   max-width: 100%;
   max-height: 100%;

}

.title {
   font-family: var(--archangelsk-font);
   font-size: 62px;
   font-weight: 400;
   line-height: 63px;
}

.button {
   padding: 15px 50px;
   font-family: 'Roboto';
   font-size: 18px;
   font-weight: 700;
   line-height: 21px;
}

.container {
   max-width: 1347px;
   margin: 0 auto;
   padding: 0 30px;
}

body {
   font: 18px/34px 'Roboto', Arial, Helvetica, sans-serif;
   color: #000;
}

/* Header */
.header {
   position: relative;
}

.header-top {
   display: flex;
   align-items: center;
   position: absolute;
   top: 0%;
   left: 15%;
   padding-top: 20px;
}

.header-top__list {
   display: flex;
   justify-content: space-between;
   gap: 40px;
   margin-left: 605px;
}

.header-top__link svg path {
   transition: all .4s;
}

.header-top__link svg path:hover {
   fill: var(--accent-color);
}

.header-slider {
   position: relative;
   top: 0%;
   left: 0%;
   z-index: -1;
}

.header-slider__item img {
   width: 100%;
}

.header-info {
   position: absolute;
   right: 10%;
   bottom: 0%;
   transform: translate(0%, -3%);
   max-width: 642px;
   padding: 70px;
   background-color: var(--accent-color);
   clip-path: polygon(0 60.00px, 60.00px 0, 100% 0, 100% calc(100% - 60.00px), calc(100% - 60.00px) 100%, 0 100%);
}

.header-info__title {
   margin-bottom: 39px;
   color: var(--background-color);
}

.header-info__link {
   max-width: 272px;
   padding: 19px 50px;
   font-size: 24px;
   line-height: 40px;
   font-weight: 700;
   color: var(--accent-color);
   background-color: var(--background-color);
}

.header-info__link:hover {
   color: var(--background-color);
   background-color: var(--text-color);
}

/* About */
.about {
   padding: 70px 0;
}

.about__title {
   margin-bottom: 17px;
}

.about__text {
   max-width: 952px;
   margin-bottom: 70px;
   color: var(--gray-color);
}

.about__text_aqua {
   color: var(--text-color);
}

.about-wrap {
   display: flex;
}

.about-wrap__left {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-right: 32px;
}

/* Form */
.form {
   position: relative;
   padding-bottom: 70px;
   background-color: var(--background-color);
   background-image: url('../img/form/background.png');
   background-position: 69% 90%;
   background-repeat: no-repeat;
}

.form::after {
   content: "";
   position: absolute;
   left: -1px;
   top: -1px;
   width: 100%;
   height: 70px;
   background-image: url('../img/form/decor_top.png');
   background-repeat: no-repeat;
}

.form::before {
   content: "";
   position: absolute;
   left: 0;
   bottom: -70px;
   width: 100%;
   height: 70px;
   background-image: url('../img/form/decor_bottom.png');
   background-repeat: no-repeat;
}

.form__title {
   position: relative;
   color: #fff;
   padding: 150px 0px 0px 180px;
   margin-bottom: 55px;
}

.form__title::before {
   content: "";
   position: absolute;
   left: 10px;
   top: 95px;
   width: 132px;
   height: 132px;
   background-image: url('../img/form/decor_sale.svg');
   background-repeat: no-repeat;
}

.form__text {
   max-width: 952px;
   margin-bottom: 25px;
   color: #fff;
}

.form__text_strong {
   font-weight: 700;
   color: var(--text-color);
}

.form-box input {
   display: block;
}

.form-box__name,
.form-box__email {
   width: 460px;
   padding: 13px 2px;
   margin-bottom: 35px;
   font-family: 'Roboto';
   font-size: 18px;
   font-weight: 300;
   line-height: 21px;
   color: #fff;
   background-color: transparent;
   border-bottom: 1px solid rgb(119 119 119);
}

.form-box__name::placeholder .form-box__email::placeholder {
   padding: 13px 0px;
   color: #fff;
   font-family: 'Roboto';
   font-size: 18px;
   font-weight: 300;
   line-height: 21px;
}

.form-box__file[type="file"] {
   position: absolute;
   width: 1px;
   height: 1px;
   opacity: 0;
}

.form-box__lable-upload {
   display: block;
   max-width: 460px;
   height: 120px;
   padding: 39px 135px;
   margin-bottom: 35px;
   border: 1px dashed var(--gray-color);
   cursor: pointer;
}

.form-box__file-descr {
   display: block;
   font-weight: 300;
   line-height: 21px;
   text-decoration: underline;
   color: #fff;
   margin-bottom: 7px;
}

.form-box__file-format {
   display: block;
   font-size: 12px;
   font-weight: 300;
   line-height: 14px;
   color: #fff;
   text-align: center;
}

.form-box__button {
   margin-bottom: 15px;
   background-color: var(--accent-color);
}

.form-box__button:hover {
   color: var(--background-color);
   background-color: var(--text-color);
}

.form-box__check-real {
   width: 0;
   height: 0;
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.form-box__check-real:focus+.form-box__check-custom {
   box-shadow: 0px 0px 0px 1px var(--accent-color), 0px 0px 10px var(--accent-color);
}

.form-box__check-real:checked+.form-box__check-custom::before {
   transform: translate(-50%, -50%) scale(1);
}

.form-box__check-custom {
   position: relative;
   display: inline-block;
   margin-right: 10px;
   width: 14px;
   height: 14px;
   border: 1px solid var(--gray-color);
   vertical-align: sub;
}

.form-box__check-custom::before {
   content: '';
   display: inline-block;
   width: 8px;
   height: 6px;
   background-image: url("../img/icon/check.svg");
   background-size: contain;
   background-repeat: no-repeat;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale(0);
   transition: all 0.2s ease-in;
}

.form-box__label {
   display: flex;
   align-items: center;
   font-size: 12px;
   font-weight: 300;
   line-height: 14px;
   color: #fff;
   cursor: pointer;
}

/* Advertisement */
.advertisement {
   padding-top: 140px;
   padding-bottom: 80px;
   background-color: var(--accent-color);
}

.advertisement-wrapper {
   display: flex;
   column-gap: 32px;
}

.advertisement-content__title {
   margin-bottom: 50px;
}

.advertisement-content__text {
   max-width: 624px;
   line-height: 34px;
   margin-bottom: 31px;
}

.advertiment-conent__item {
   margin-bottom: 20px;
   padding-left: 38px;
   position: relative;
}

.advertiment-conent__item:nth-child(1)::after {
   content: "";
   position: absolute;
   left: 0px;
   top: 3px;
   width: 24px;
   height: 24px;
   background-image: url('../img/icon/colors.svg');
   background-repeat: no-repeat;
}

.advertiment-conent__item:nth-child(2)::after {
   content: "";
   position: absolute;
   left: -2px;
   top: 3px;
   width: 29px;
   height: 29px;
   background-image: url('../img/icon/stars.svg');
   background-repeat: no-repeat;
}

.advertiment-conent__item:nth-child(3)::after {
   content: "";
   position: absolute;
   left: -2px;
   top: 3px;
   width: 27px;
   height: 27px;
   background-image: url('../img/icon/square.svg');
   background-repeat: no-repeat;
}

.advertiment-conent__item:nth-child(3) {
   margin-bottom: 45px;
}

.adertiment-content__link {
   display: inline-block;
   color: var(--accent-color);
   background-color: var(--background-color);
}

.adertiment-content__link:hover {
   color: var(--background-color);
   background-color: var(--text-color);
}

/* Store */
.store {
   padding-top: 70px;
   background-image: url('../img/store/background.jpeg');
   background-position: left top;
   background-repeat: no-repeat;
   background-size: 50% 100%;
   background-color: var(--background-color);
}

.store-wrapper {
   margin-left: 52%;
}

.store__title {
   color: #fff;
   margin-bottom: 30px;
}

.store__subtitle {
   font-size: 24px;
   font-weight: 700;
   line-height: 28px;
   color: var(--text-color);
   margin-bottom: 15px;
}

.store-list__item {
   position: relative;
   margin-bottom: 26px;
   padding-left: 40px;
   line-height: 21px;
   color: #fff;
}

.store-list__item:nth-child(1)::after {
   content: "";
   position: absolute;
   left: 0px;
   top: 0px;
   width: 27px;
   height: 27px;
   background-image: url('../img/icon/disk.svg');
   background-repeat: no-repeat;
}

.store-list__item:nth-child(2)::after {
   content: "";
   position: absolute;
   left: 0px;
   top: 0px;
   width: 27px;
   height: 27px;
   background-image: url('../img/icon/cod.svg');
   background-repeat: no-repeat;
}

.store-list__item:nth-child(3)::after {
   content: "";
   position: absolute;
   left: 0px;
   top: 0px;
   width: 27px;
   height: 27px;
   background-image: url('../img/icon/picture.svg');
   background-repeat: no-repeat;
}

.store-list__item:nth-child(3) {
   margin-bottom: 70px;
}

.store-platform__list {
   max-width: 320px;
   display: flex;
   flex-wrap: wrap;
   column-gap: 82px;
   row-gap: 49px;
   padding-bottom: 70px;
}

.store-platform__subtitle {
   font-size: 24px;
   font-weight: 700;
   line-height: 28px;
   margin-bottom: 25px;
   color: var(--text-color);
}

/* Footer */
.footer {
   padding-top: 13px;
}

.footer-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.footer-left,
.footer-right {
   display: flex;
   gap: 32px;
}

.footer-right__link {
   line-height: 21px;
}

.footer-copy {
   padding: 13px 0;
   background-color: var(--background-color);
}

.fooyer-copy__link {
   font-size: 12px;
   line-height: 14px;
   text-align: center;
   color: #fff;
}